<h1>
	Upload GPX Files
</h1>

<input type="file" multiple (change)="filesAdded($event)" />

<dx-data-grid [dataSource]="results" [showBorders]="true">
	<dxi-column dataField="name">Track</dxi-column>
	<dxi-column dataField="distance">Distance</dxi-column>
	<dxi-column dataField="netElevation">Net Elevation</dxi-column>
	<dxi-column dataField="totalElevation">Total Elevation</dxi-column>
	<dxi-column dataField="start">Start Date</dxi-column>
	<dxi-column dataField="end">End Date</dxi-column>

	<dxi-column caption="Profile" [minWidth]="320" cellTemplate="chartCellTemplate"></dxi-column>

	<div *dxTemplate="let d of 'chartCellTemplate'">
		<div class="chart-cell">
			<dx-sparkline
				[dataSource]="d.data.reducedPoints"
				argumentField="date"
				valueField="elevation"
				type="splinearea"
				[showMinMax]="true"
				minColor="#1b2ab7"
				maxColor="#2ab71b"
				[pointSize]="4">
				<dxo-size [width]="290" [height]="40"></dxo-size>
				<dxo-tooltip [enabled]="false"></dxo-tooltip>
			</dx-sparkline>
		</div>
	</div>

	<dxo-summary>
		<dxi-total-item column="name" summaryType="count">
		</dxi-total-item>
		<dxi-total-item column="distance" summaryType="sum">
		</dxi-total-item>

		<dxi-total-item column="totalElevation" summaryType="sum">
		</dxi-total-item>
	</dxo-summary>

</dx-data-grid>