<h1>
	Upload GPX Files
</h1>

<input type="file" multiple (change)="filesAdded($event)" />

<dx-data-grid [dataSource]="results" [showBorders]="true">
	<dxi-column dataField="name">Track</dxi-column>
	<dxi-column dataField="distance">Distance</dxi-column>
	<dxi-column dataField="netElevation">Net Elevation</dxi-column>
	<dxi-column dataField="totalElevation">Total Elevation</dxi-column>
	<dxi-column dataField="start">Start Date</dxi-column>
	<dxi-column dataField="end">End Date</dxi-column>


	<dxo-summary>
		<dxi-total-item column="name" summaryType="count">
		</dxi-total-item>
		<dxi-total-item column="distance" summaryType="sum">
		</dxi-total-item>

		<dxi-total-item column="totalElevation" summaryType="sum">
		</dxi-total-item>
	</dxo-summary>

</dx-data-grid>